config:
  me:
    number: 214145
    as-set: "AS214145:AS-BASE"
    max-prefix: 10
    prefixes:
      - "2001:db8::/48"
      - "2001:db8::/44"
  community:
    blackhole: 1:100
    no-export: 1:200
    localpref: true
    informational: true
    downstream:
      adv_only: 1:300
      adv_no_export: 1:350
    ixp:
      adv_only: 1:400
      adv_no_export: 1:450
    upstream:
      adv_only: 1:500
      adv_no_export: 1:550
    peers:
      adv_only: 1:600
      adv_no_export: 1:650
  ixp:
    AS34307:
      description: NL-IX
      neighbors:
        - "2001:db8:1000::1"
        - "2001:db8:1000::2"
  upstream:
    AS6939:
      description: HE
      valid:
        loc: 200
        community: 2:501
      notfound:
        loc: 100
        community: 2:511
      neighbors:
        - "2001:db8:2000::1"
  downstream:
    AS2121:
      description: RIPE
      as-set: "AS-RIPENCC"
      max-prefix: 20
      neighbors:
        - "2001:db8:3000::1"
      upd-src: "2001:db8::1"
  peers:
    AS27500:
      description: ICANN
      as-set: "AS-ICANN"
      max-prefix: 20
      neighbors:
        - "2001:db8:4000::1"