config:
  me:
    number: 214145
    as-set: "AS214145:AS-BASE"
    downstream: no
    max_prefix: 10
    prefixes:
      - "2001:db8::/48"
      - "2001:db8::/44"
  ixp:
  upstream:
    - number: 27500
      as-set: "AS-ICANN"
    - number: 2121
      as-set: "AS-RIPENCC"
  downstream:
  peers: